body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1b3f60;
    background-color: #fff;
}
header{
    background-color: #fff;
    padding: 1rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    position: relative;
}
h1{
    display: none;
}
.header-logo{
    width: 1.5in;
    max-width: 100%;
}
nav.toggle-nav>a{
    color: #1b3f60;
    text-decoration: none;
}
nav.toggle-nav{
    position: absolute;
    right: 0;
    display: none;
}
nav.toggle-nav>a:hover{
    color:#1b3f60;
    text-decoration: underline;
}
nav.toggle-nav>ul{
    list-style-type: none;
    padding: 0;
}
nav.toggle-nav>li{
    display: block;
    width: 100%;
    text-align: center;
}
nav.toggle-nav>a{
    display: block;
    padding: 5px;
    position: relative;
    top: 80px;
    right: 70px;
}
.hamburger{
    width: 3rem;
}
.hamburger hr{
    height: .2rem;
    background-color: #1b3f60;
    position: relative;
    top: 25px;
}
nav.toggle-nav.show{
    display: block;
}
.blue-block hr{
    height: 8rem;
    background-color: #1b3f60;
}
h2{
    color: black;
    margin: 2rem;
    text-align: center;
}
nav.view-portfolio{
    display: flex;
    justify-content: center;
}
nav.view-portfolio a{
    background-color: #1b3f60;
    color: #fff;
    text-decoration: none;
    padding: 2rem 2rem;
}
nav.view-portfolio a:hover{
    color: #b1d4e1;
}
.about-me h3{
    margin: 1rem 2rem;
}
.about-me p{
    margin: 1rem 3rem;
}
